@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: Lexend, ui-sans-serif, sans-serif, system-ui;
  --radius: 0.75rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.75rem;
  --background: oklch(0.9449 0.0175 96.1087);
  --foreground: oklch(0.2132 0.0042 264.4789);
  --card: oklch(0.9229 0.0175 99.6139);
  --card-foreground: oklch(0.2010 0.0278 264.9723);
  --popover: oklch(0.9352 0.0185 86.1484);
  --popover-foreground: oklch(0.2010 0.0278 264.9723);
  --primary: oklch(0.6294 0.1394 47.9385);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.4946 0.0339 196.1084);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9035 0.0249 91.6273);
  --muted-foreground: oklch(0.5125 0.0189 262.6888);
  --accent: oklch(0.8626 0.0221 95.3179);
  --accent-foreground: oklch(0.2010 0.0278 264.9723);
  --destructive: oklch(0.5767 0.1768 24.5793);
  --border: oklch(0.8847 0.0069 97.3627);
  --input: oklch(0.8452 0 0);
  --ring: oklch(0.6294 0.1394 47.9385);
  --chart-1: oklch(0.5475 0.0376 196.1064);
  --chart-2: oklch(0.6753 0.1412 48.7679);
  --chart-3: oklch(0.8210 0.1067 67.2142);
  --chart-4: oklch(0.5670 0.1344 283.7867);
  --chart-5: oklch(0.5662 0.1811 25.0781);
  --sidebar: oklch(0.9113 0.0231 95.9793);
  --sidebar-foreground: oklch(0.2478 0 0);
  --sidebar-primary: oklch(0.6294 0.1394 47.9385);
  --sidebar-primary-foreground: oklch(0.9326 0.0107 100.8299);
  --sidebar-accent: oklch(0.9459 0.0206 91.5866);
  --sidebar-accent-foreground: oklch(0.2478 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.6294 0.1394 47.9385);
  --destructive-foreground: oklch(0.9851 0 0);
  --font-sans: Delius, cursive;
  --font-serif: Lexend, ui-sans-serif, sans-serif, system-ui;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.05;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2054 0.0025 67.6857);
  --foreground: oklch(0.8109 0 0);
  --card: oklch(0.2272 0.0025 67.7022);
  --card-foreground: oklch(0.8109 0 0);
  --popover: oklch(0.1684 0 0);
  --popover-foreground: oklch(0.8109 0 0);
  --primary: oklch(0.6753 0.1412 48.7679);
  --primary-foreground: oklch(0.1344 0 0);
  --secondary: oklch(0.5475 0.0376 196.1064);
  --secondary-foreground: oklch(0.1344 0 0);
  --muted: oklch(0.3018 0.0023 67.7383);
  --muted-foreground: oklch(0.6268 0 0);
  --accent: oklch(0.3670 0.0085 97.5574);
  --accent-foreground: oklch(0.8109 0 0);
  --destructive: oklch(0.5120 0.1551 24.4509);
  --border: oklch(0.2809 0 0);
  --input: oklch(0.3715 0 0);
  --ring: oklch(0.6753 0.1412 48.7679);
  --chart-1: oklch(0.5475 0.0376 196.1064);
  --chart-2: oklch(0.6753 0.1412 48.7679);
  --chart-3: oklch(0.8210 0.1067 67.2142);
  --chart-4: oklch(0.5662 0.1811 25.0781);
  --chart-5: oklch(0.5670 0.1344 283.7867);
  --sidebar: oklch(0.2357 0.0024 67.7077);
  --sidebar-foreground: oklch(0.8699 0 0);
  --sidebar-primary: oklch(0.6753 0.1412 48.7679);
  --sidebar-primary-foreground: oklch(0.2327 0.0041 308.2665);
  --sidebar-accent: oklch(0.1556 0.0017 17.3395);
  --sidebar-accent-foreground: oklch(0.8109 0 0);
  --sidebar-border: oklch(0.2435 0 0);
  --sidebar-ring: oklch(0.6753 0.1412 48.7679);
  --destructive-foreground: oklch(0.2126 0.0066 314.6771);
  --radius: 0.75rem;
  --font-sans: Delius, cursive;
  --font-serif: Lexend, ui-sans-serif, sans-serif, system-ui;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.05;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}